body {
  margin: 0;
  padding: 0;
  
  
}

.nav {
  display: flex;
  
  justify-content: space-around;
  -webkit-box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
  
  background: rgba(241,231,103,1);
background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
  
  position: relative;
  
}

.slider {
  position: absolute;
  height: 600px;
  width: 800px;
  background: #eee;
  self-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: -800px;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  z-index: 10;
  border-radius: 10px;
}

.buttons {
  display: flex;
  
  
}

.newInput, .newTextarea, #submitButton, #cancelButton {
  background: #EBEFBF;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  outline: none;
  
  -webkit-box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
}

.newInput {
  padding: 1em;
  text-align: center;
  font-size: 18px;
}

.newTextarea {
  min-height: 70%;
  padding: 1em;
}

#submitButton, #cancelButton {
  padding: 1em;
  min-height: 10%;
  width: 30%;
  z-index: 100;
  cursor: pointer;
   
}

.sliderToggled {
  top: 0;
}




.left h2 {
  margin-left: 20px;
  color: #05668D;
  font-size: 1.8em;
  
}

.right {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  
}

li {
  list-style: none;
  margin: 0 20px;
  color: #056680;
  font-size: 18px;
  font-weight: bold;
}

.container {
  
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  
 
}

.wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(200px, auto);
  
  
}

h3 {
  margin: 10px 0 5px 0;
  color: #05668D;
  font-weight: bold;
  align-self: flex-start;
}

hr {
  border: 1px solid #05668D;
  width: 100%;
  margin: 0;
  padding: 0;
  
  
}

.card {
  
  background: #EBEFBF;
  border-radius: 5px;
  padding: 1em;
  -webkit-box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
box-shadow: 4px 4px 21px -2px rgba(0,0,0,0.63);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}



.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    color: #05668D;
    
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

a {
  text-decoration: none;
  color: #05668D;
}

.middle a, .middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

p {
  color: #018799;
  font-style: italic;
}

.card:hover {
  transform: scale(1.1);
  
  transition: 0.1s ease-in;
}

.actions {
  align-self: flex-end;
  display: flex;
  
}
.actions i {
  margin-right: 20px;
  cursor: pointer;
}

.editTextArea {


}